@model ReclamosWhatsApp.Models.ReclamoWhatsApp

<h2>Nuevo Reclamo</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div>
        <label>Conductor</label>
        <input asp-for="Conductor" />
    </div>

    <div>
        <label>Celular</label>
        <input asp-for="Celular" />
    </div>

    <div>
        <label>Placa</label>
        <input asp-for="Placa" />
    </div>

    <div>
        <label>Reclamo</label>
        <input asp-for="Reclamo" />
    </div>

    <div>
        <label>Fecha</label>
        <input asp-for="FechaNotificacion" type="date" />
    </div>

    <div>
        <label>Lugar</label>
        <input asp-for="LugarAccidente" />
    </div>

    <button type="submit">Guardar</button>
</form>
